# Default owners
* @joheredi @qiaozha @MaryGao @JialinHuang803

################
# Automation
################

# Git Hub bot rules
/.github/CODEOWNERS @jsquire @ronniegeraghty
/.github/fabricbot.json @jsquire @ronniegeraghty
