**/dist
package-lock.json
**/node_modules
test.json
**/test/**/dist
**/test/**/dist-test
**/test/**/dist-esm
**/test/**/node_modules
**/test/**/types
**/test/**/temp
**/test-browser
.tmp
**/coverage
.tgz

common/temp/**
package-deps.json
common/autoinstallers/*/.npmrc