**/dist
**/temp
**/dist-test
**/node_modules
test.json
**/test/**/dist
**/test/**/dist-test
**/test/**/dist-esm
**/test/**/node_modules
**/test/**/types
**/test/**/temp
**/test-browser
.tmp
**/.tmp
**/coverage
.tgz
**/*.tgz
**/.rush
**/*.log
common/temp
package-deps.json
common/autoinstallers/*/.npmrc
**/test/**/package-lock.json
**/types
dist-esm
dist
/artifacts
