language: node_js
sudo: required
node_js:
  - "8"
install:
    # dotnet 2.0 prereq
  - sudo apt-get install libunwind8
    # Install npm
  - npm install
before_script:
  - npm install -g gulp-cli
script:
  - npm -s run-script testci
env:
  - CHECK_NAME="Bundle size"
