trigger:
- master

jobs:
- job: Build
  displayName: "Build, regenerate and test on $(node.version)"
  pool:
    vmImage: 'Ubuntu 16.04'
  strategy:
    matrix:
      Node10:
        node.version: 10.x
      Node11:
        node.version: 11.x
  steps:
  - script: npm install
  - task: Npm@1
    displayName: 'Run npm pack'
    inputs:
      command: custom
      verbose: false
      customCommand: pack
  - task: gulp@0
    displayName: 'Run gulp regenerate'
    inputs:
      targets: regenerate
      verbose: false
  - task: CopyFiles@2
    displayName: 'Copy Files to: drop'
    inputs:
      Contents: '*.tgz'
      TargetFolder: drop
  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: $(Build.SourcesDirectory)/drop
  - task: NodeTool@0
    displayName: 'Install Node $(node.version)'
    inputs:
      versionSpec: $(node.version)
  - task: gulp@0
    displayName: 'gulp test'
    inputs:
      targets: test
      verbose: false
  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-results.xml'
      testRunTitle: 'Test results for JavaScript'
  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/*coverage.xml'
      reportDirectory: '$(System.DefaultWorkingDirectory)/**/coverage'
- job: Check_Everything
  pool:
    vmImage: 'Ubuntu 16.04'
  steps:
  - task: Npm@1
    displayName: 'npm install'
    inputs:
      command: custom
      verbose: false
      customCommand: install
  - task: Npm@1
    displayName: 'npm run check:everything -- --azure-devops'
    inputs:
      command: custom
      verbose: false
      customCommand: run check:everything -- --azure-devops 